nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 20px;
}
nav ul{
    display: flex;
    justify-content:flex-end;
}
nav li:hover{
    background-color: lightgrey;
}
/* media querie  */
@media only screen and (max-width:688px) {
    nav ul{
        justify-content: flex-start;
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }
    
}